.title {
    font-size: clamp(24px, 5vw, 40px); 
    display: grid;                     
    place-items: center;               
    height: clamp(120px, 20vw, 200px);
    text-align: center;                
}
