body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* or any valid weight */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgb(228, 228, 228);
  }