.title {
  font-size: clamp(24px, 5vw, 40px);
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; 
  justify-content: center;
  gap: 20px;
}

.title img {
  width: 12vw;
  height: 12vw;
}

.hero{
  font-size: clamp(24px, 5vw, 30px);
  display: grid;
  place-items: center;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 10px;               
}

.image-row img {
  width: clamp(200px, 30vw, 300px); 
  height: auto;                      
  object-fit: cover;                 
}

.video {
  width: clamp(200px, 30vw, 300px);
  height: auto;
}

@media (max-width: 500px) {
  .title img {
    display: none;
  }
}
